/host/{{ hostname }}/site: {{ site }}
/host/{{ hostname }}/{{ interface }}/ip: {{ ip }}
/host/{{ hostname }}/{{ interface }}/hwaddr: {{ hwaddr }}
/host/{{ hostname }}/{{ interface }}/netmask: {{ netmask }}
/host/{{ hostname }}/{{ interface }}/gw: {{ gw }}
/hwaddr/{{ hwaddr }}/interface: {{ interface }}
/hwaddr/{{ hwaddr }}/hostname: {{ hostname }}
